.json-compare-wrapper {
    transition: height 0.3s ease;
    overflow: hidden;
    margin: 1rem;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.diff-view-container, .edit-view-container {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.edit-view-container {
    padding-top: 5.5rem;
}

.diff-editor-wrapper, .editor-wrapper {
    border: 1px solid white;
    border-radius: 4px;
    padding: 0.5rem;
    width: 48%;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.btn-container-a, .btn-container-h {
    margin: 0;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0.5rem;
}

.btn-container .btns-jsoncompare {
    color: #080707 !important;
    background: #ffffff !important;
    border: none;
    margin: 4px 7px;
    font-weight: bold;
    transition: background-color 0.2s ease, transform 0.2s ease-in-out;
}

.btn-container .btns-jsoncompare:hover {
    background: #ffffff !important;
    border: none !important;
    transform: scale(1.05);
    color: #080707 !important;
}

.btn-container-h {
    margin-left: auto;
}

.history-icon {
    color: #fff;
    cursor: pointer;
    margin: 0.25rem 1rem 0 0;
    transition: transform 0.2s ease-in-out;
}

.copy-icon-container {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    z-index: 10;
    border-radius: 3px;
    padding: 9px;
    background: #191717;
    transition: transform 0.2s ease-in-out;
}

.copy-icon, .copy-icon-check {
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    transition: transform 0.2s ease-in-out;
}

.copy-icon-check {
    color: rgb(70, 238, 70);
}

.copy-icon-container:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 600px) {
    .diff-view-container, .edit-view-container {
        flex-direction: column;
        height: auto;
    }

    .diff-editor-wrapper, .editor-wrapper {
        width: 100%;
        margin-bottom: 1rem;
        height: 30vh;
    }

    .copy-icon-container {
        top: 5px;
        right: 5px;
    }

    .btn-container .btns-jsoncompare {
        margin: 3px;
        font-size: 11px;
        height: auto;
        width: auto;
    }

    .Toastify__toast {
        font-size: 13px;
        min-width: 180px;
    }
}

@media only screen and (max-width: 400px) {
    .diff-editor-wrapper, .editor-wrapper {
        height: 25vh;
    }

    .btn-container .btns-jsoncompare {
        margin: 2px;
        font-size: 12px;
    }

    .copy-icon-container {
        top: 5px;
        right: 5px;
        font-size: 20px;
    }
}

/* Toastify styles */
.Toastify__toast-container {
    width: 100%;
}

.Toastify__toast {
    max-width: 53%;
    font-size: 14px;
    margin: auto;
    background-color: #333;
    color: white;
}

.Toastify__toast-body {
    margin: 0 auto;
    text-align: center;
}

.Toastify__close-button {
    color: white;
    margin: 0.938rem 2px 2px 5px;
    display: flex;
    justify-self: center;
}

/* Ace editor search styles */
.ace_editor .ace_search {
    background-color: #4f4f4f !important;
    color: #f8f8f2 !important;
    border: 1px solid white;
    padding: 5px;
    border-radius: 3px;
}

.ace_editor .ace_search_form, .ace_editor .ace_replace_form {
    background-color: #272822 !important;
    color: #f8f8f2 !important;
    border-radius: 3px;
}

.ace_editor .ace_button {
    background-color: #212020 !important;
    color: #ffffff !important;
    margin-top: -1px !important;
    height: 1.3rem;
    width: 1.3rem !important;
    border: 1px solid black !important;
}

.ace_editor .ace_searchbtn_close {
    background-color: #212020;
}

/* Custom diff highlighting */
.ace-merbivore_soft .ace_marker-layer .ace_error {
    background-color: rgba(255, 0, 0, 0.3); /* Red for removed */
}

.ace-merbivore_soft .ace_marker-layer .ace_info {
    background-color: rgba(0, 255, 0, 0.3); /* Green for added */
}